@use './partials/breakpoints' as *;
@use './partials/textstyles' as *;
@use './partials/typeface' as *;
@use './partials/colors' as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
h1 {
    font-size: $h1_text_size_m;
    line-height: $h1_line_height_m;
    @include tablet {
        font-size: $h1_text_size_dt;
        line-height: $h1_line_height_dt;
    }
}
h2 {
    font-size: $h2_text_size_m;
    line-height: $h2_line_height_m;
    @include tablet {
        font-size: $h2_text_size_dt;
        line-height: $h2_line_height_dt;
    }
}
h3 {
    font-size: $h3_text_size_m;
    line-height: $h3_line_height_m;
    @include tablet {
        font-size: $h3_text_size_dt;
        line-height: $h3_line_height_dt;
    }
}
h4 {
    font-size: $h4_text_size_m;
    line-height: $h4_line_height_m;
    @include tablet {
        font-size: $h4_text_size_dt;
        line-height: $h4_line_height_dt;
    }
}
h5 {
    font-size: $h5_text_size_m;
    line-height: $h5_line_height_m;
    @include tablet {
        font-size: $h5_text_size_dt;
        line-height: $h5_line_height_dt;
    }
}
h6 {
    font-size: $h6_text_size_m;
    line-height: $h6_line_height_m;
    @include tablet {
        font-size: $h6_text_size_dt;
        line-height: $h6_line_height_dt;
    }
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}