$white: #FFF;
$glacier: #F1FAFF;
$ghost_white: #E6F4F1;
$pale_goldenrod: #EEE8A9;
$light_mint: #93E1D5;
$dark_mint: #0AC5A8;
$carolina_blue: #559BD1;
$crayola_blue: #0054B4;
$dark_crayola: #003066;
$velvet_green: #0B2320;
$black: #000;