// straight style
@font-face {
    font-family: 'Raleway Thin';
    src: url('../assets/fonts/Raleway/static/Raleway-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Extra Light';
    src: url('../assets/fonts/Raleway/static/Raleway-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Light';
    src: url('../assets/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular';
    src: url('../assets/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Medium';
    src: url('../assets/fonts/Raleway/static/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Semibold';
    src: url('../assets/fonts/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('../assets/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Extra Bold';
    src: url('../assets/fonts/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Black';
    src: url('../assets/fonts/Raleway/static/Raleway-Black.ttf') format('truetype')
}

// italic style
@font-face {
    font-family: 'Raleway Thin Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-ThinItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Extra Light Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Light Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Medium Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Semibold Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Extra Bold Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Black Italic';
    src: url('../assets/fonts/Raleway/static/Raleway-BlackItalic.ttf') format('truetype')
}